
config logprofile 'log_server'
	option enable '1'
	option log_size '1024'
	option severity '6'
	option log_kernel '1'
	option log_firewall '1'
	option log_network '1'
	option log_vpn '1'
	option log_sslvpn '1'
	option log_license '1'
	option log_web_filter '1'
	option log_pnp '1'
	option log_application_control '1'
	option log_av '1'
	option log_ips '1'
	option log_users '1'
	option log_3g_4g '1'
	option log_wireless '1'
	option log_system '1'
	option log_save_to_usb '0'
	option usb_key '0'

config destination 'email'
	option enable '0'
	option log_number_threshold '50'
	option time_threshold '0'
	option severity '5'
	option subject 'Log Message'

config realtimelogs 'real_time'
	option wanup '0'
	option wandown '0'
	option usbup '0'
	option usbdown '0'
	option failover '0'
	option startup '0'
	option s2svpnup '0'
	option s2svpndown '0'
	option poe '0'
	option unauthorized_login '0'

config remote_server_profile 'remote_server'
	option enable '0'

