
config schedule 'BUSINESS'
	option name 'BUSINESS'
	option sun '0'
	option mon '1'
	option tue '1'
	option wed '1'
	option thu '1'
	option fri '1'
	option sat '0'
	option start_time '09:00'
	option end_time '17:30'

config schedule 'MARKETING'
	option name 'MARKETING'
	option sun '1'
	option mon '1'
	option tue '1'
	option wed '1'
	option thu '1'
	option fri '1'
	option sat '1'
	option start_time '00:00'
	option end_time '23:59'

config schedule 'WORKHOURS'
	option name 'WORKHOURS'
	option sun '0'
	option mon '1'
	option tue '1'
	option wed '1'
	option thu '1'
	option fri '1'
	option sat '0'
	option start_time '08:00'
	option end_time '18:00'

config schedule 'EVENINGHOURS'
	option name 'EVENINGHOURS'
	option sun '1'
	option mon '1'
	option tue '1'
	option wed '1'
	option thu '1'
	option fri '1'
	option sat '1'
	option start_time '18:01'
	option end_time '23:59'

