
config autoupdate 'autoupdate'
	option notify_type 'gui'
	option check_frequency 'never'

config firmware 'firmware'
	option notify 'false'
	option version '0.0.0.1'
	option update_optiontime '1:00'
	option update_option 'never'

config dongle 'dongle'
	option notify 'false'
	option version '0.0.0.1'
	option update_optiontime '2:00'
	option update_option 'never'

config signature 'signature'
	option notify 'false'
	option version '0.0.0.1'
	option update_optiontime '3:00'
	option update_option 'never'

