# 2017-04-03: Siva Prasad Meduri <siva.meduri@nxp.com>
# Default configuration file pushed by GUI
config igmp 'status'
        option enable '0'
        option mode 'Auto'

config phyint 'vlan1'
        option network 'vlan1'
        option direction 'downstream'

config phyint 'vlan100'
        option network 'vlan100'
        option direction 'downstream'

config phyint 'vlan20'
        option network 'vlan20'
        option direction 'downstream'
