config crontab 'every_5minutes'
	option minutes '*/5'
	option hours '*'
	option days  '*'
	option months '*'
	option weekdays '*'
	option command '/usr/bin/cron.d/command/every_5minutes'
	option enabled '1'

config crontab 'every_10minutes'
	option minutes '*/10'
	option hours '*'
	option days  '*'
	option months '*'
	option weekdays '*'
	option command '/usr/bin/cron.d/command/every_10minutes'
	option enabled '1'

config crontab 'every_hour'
	option minutes '0'
	option hours '*/1'
	option days  '*'
	option months '*'
	option weekdays '*'
	option command '/usr/bin/cron.d/command/every_hour'
	option enabled '1'
	
config crontab 'every_day'
	option minutes '0'
	option hours '0'
	option days  '*/1'
	option months '*'
	option weekdays '*'
	option command '/usr/bin/cron.d/command/every_day'
	option enabled '1'

config crontab 'every_week'
	option minutes '0'
	option hours '0'
	option days  '*'
	option months '*'
	option weekdays '1'
	option command '/usr/bin/cron.d/command/every_week'
	option enabled '1'

config crontab 'every_month'
	option minutes '0'
	option hours '0'
	option days  '1'
	option months '*/1'
	option weekdays '*'
	option command '/usr/bin/cron.d/command/every_month'
	option enabled '1'
