config global global_0
	# start dnscrypt-proxy from procd interface trigger rather than immediately in init
	# if needed you can restrict trigger to certain interface(s)
	# list procd_trigger 'wan'
	# list procd_trigger 'wan6'

config dnscrypt-proxy ns1
	#option address '127.0.0.1'
	option address '[::]'
	option port '53'
	option resolver 'cisco'
	option resolvers_list '/var/etc/dnscrypt-resolvers.csv'
	option ephemeral_keys '0'
	option syslog '1'
	option syslog_prefix 'dnscrypt-proxy'
