config firewall global_configuration 
	option firewall		1
	option spi		1
	option dos_attack	1
	option block_wan_ping_req	1
	option lan_vpn_http	1
	option lan_vpn_https	1
	option remote_management	1
	option remote_management_port	1234   
	option remote_http	1
	option remote_https	0
	option remote_ipaddress any	
	option multicast_fw	1
	option sipalg		0
	option ftp_alg_port	21


config block webfeatures
	option java 0
	option cookies 0
	option activex 0
	option httpproxy 0
	option exception 0

config host 'dmzhost'              
        option status '0'                
        option ipaddr '192.168.0.100'

config natmode 'wan1'                              
        option interfacename 'wan1'          
        option enable '1'                    

config natmode 'usb1'
        option interfacename 'usb1'
        option enable '1'

config security 'content_filter'             
        option status '0' 
        option blockurl_status '0'          
        option allowurl_status '0' 

config connection 'session_timeout'
        option tcp_timeout '180'
        option udp_timeout '60'
        option icmp_timeout '30'
        option max_connections '40000'
